.post__content__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
    .circle-reaction {
        height: 20px;
        width: 20px;
        display: block;
        margin: 0 1px;
        border-radius: 50%;
    }
    .post__content__actions__count-reactions {
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            display: inline-block;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
            }
        }
        p {
            display: inline-block;
            font-size: 12px;
            margin-left: 10px;
        }
    }
    .post__content__actions__count-comment {
        font-size: 12px;
    }
}