.post {
    background-color: white;
    margin: 15px 0px;
    padding: 15px 0;
    .post__content {
        .post_content__section {
            display: flex;
            border-bottom: 1px solid black;
            padding: 10px 0;
        }
    }
}

.post__content__section__picture {
    margin: 0 15px;
    img {
        border-radius: 50%;
    }
}
.post__content__section__data {
    flex-grow: 1;
    .post__content__section__data__title {
        h3 {
            font-size: 16px;
            margin: 0px;
            color: green;
        }
        span {
            font-size: 10px;
            margin: 0;
            padding: 0;
        }
    }
    .post__content__section__data__description {
        font-size: 12px;
    }
    .post__content__section__data__buttons {}
}

@media (max-width: 768px) {
    .post__content__section__data {
        .post__content__section__data__buttons {
            display: flex;
        }
    }
}