.text-area-status {
    height: 50px;
    border-bottom: 1px solid #313131;
    text-align: left;
    line-height: 50px;
    padding-left: 10px;
    color: green;
    &::placeholder {
        color: green;
    }
}